<%= form_tag "/login" do %>
  <p>
    <%= label_tag :username %><br>
    <%= text_field_tag :username %>
  </p>

  <p>
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </p>

  <%= submit_tag %>
<% end %>
